<section class="page-section clearfix">
    <div class="container">
        <div class="intro inner-section">
            <!-- <h2 class="text-center">M&M is a visual reminder to the users. </h2> -->
            <p class="text-justify">


                Autism spectrum disorder (ASD) and Alzheimer's disease (AD)
                are neurodevelopmental and neurodegenerative disorders respectively,
                with devastating effects not only on the individual but also the society. </p>
            <p class="text-justify">
                Autistic children may have trouble paying attention to and understanding the information they hear.
                Visual supports and visual schedules give children visual information that reminds them of what they
                need to do
                at a particular point of time in a day.

            </p>
            <p class="text-justify">
                Similarly visual cues or audio notes aid in reminding the elderly with Alzheimer's disorder of whatever
                they might need to do in a day.
                A visual cue is simply a reminder that a dementia patient can see.
                It need not always be a list of instructions, but a phrase or object meant to trigger their memory.
                A cue can be something like :
                A note about the medicine cabinet with times and doses of medication. This can be recorded via audio and
                played at the time they need to take their medicine.

            </p>
            <p class="text-justify">
                Our application M&M provides visual reminders to its users.
                We plan to help autistic kids with reminding their day to day schedules via visual reminders
                – i.e video or an (audio reminder + image).
                Children connecting to visual reminders and rhythmic tunes to complete their daily agenda is being
                considered to be the main USP here.
                This application also targets to help elderly with Alzheimer’s disorder,by sending out timely reminders
                and also play video/audio
                which were recorded by their caretakers/family members starting with a wakeup call to remind them
                about themselves. It provides a way to remind them of their memories and tasks they need to carry out
                time to time.
            </p>

            <h2 class="text-justify">Team: Queen Bees</h2>
            <h3 class="text-justify">Team Members:</h3>
            <p class="text-justify">
                Mounika Mummidi<br>
                Lakshmi K A<br>
                Sangeetha Arelli<br>
                Manasa Koutarapu
            </p>

        </div>
    </div>

</section>
<br>