<section class="body_container">


    <div class="container">
        <div class="card">
            <form novalidate [formGroup]="userForm">
                <div class="card-header">
                    <h4 class="darkBlue">Create Reminder</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group mt-3">
                                <label for="Category">Category:</label>
                                <select formControlName="categoryChosen" class="form-control"
                                    (change)="onCategoryChange($event)">
                                    <option *ngFor="let item of categoryList" [value]="item">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label for="File Type">File Type:</label>
                                <select formControlName="fileTypeChosen" class="form-control"
                                    (change)="onFileTypeChange($event)">
                                    <option *ngFor="let item of fileTypeList" [value]="item">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label for="Schedule Time">Schedule Time:</label>
                                <input type="text" class="form-control" formControlName="timeChosen" name="timeChosen"
                                    id="timeChosen" placeholder="eg:3am" required>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group mt-3" [hidden]="categoryChosen!='Custom'">
                                <label for="Csutom Category">Custom Category:</label>
                                <input type="text" class="form-control" formControlName="customCategory"
                                    name="customCategory" id="customCategory" placeholder="eg:Take a walk" required>
                            </div>

                            <div class="form-group mt-5" [hidden]="!(action=='upload')">
                                <button mat-button [type]="selectFilesButtonType" color="primary"
                                    class="btn btn-light-custom" (click)="uploadFile.click()">
                                    <span >{{choosefileText}}</span>
                                    <input #uploadFile type="file" style="display: none" onclick="this.value = null"
                                        class="text-nowrap text-truncate" (change)="selectFileFromUI($event)" />
                                </button>
                                <span class="file-input-text"
                                    [hidden]="fromRecordingToSaveInFirebase">{{ fileName }}</span>
                                <button mat-button [type]="selectFilesButtonType" color="primary"
                                    class=" btn btn-light-custom" (click)="uploadImageFile.click()"
                                    [hidden]="!showCustomUpload">
                                    <span >Choose Image</span>
                                    <input #uploadImageFile type="file" style="display: none"
                                        onclick="this.value = null" class="text-nowrap text-truncate"
                                        (change)="selectImageFileForCustom($event)" />
                                </button>

                                <span class="file-input-text">{{ fileNameForImage }}</span>
                            </div>
                            <div class="form-group mt-3" [hidden]="fileTypeChosen!='Record Audio'">
                                <button (click)="initiateRecording()" class="start-button" *ngIf="!recording"
                                    style="cursor: pointer;background-color: green;color: white;"> Start Recording
                                </button>
                                <button (click)="stopRecording()" class="stop-button" *ngIf="recording"
                                    style="cursor: pointer;background-color: red;color: white;"> Stop Recording
                                </button>
                                <audio controls="" #audio *ngIf="url">
                                    <source [src]="sanitize(url)" type="audio/wav">
                                </audio>
                            </div>
                            <div [hidden]="fileTypeChosen!='Record Audio'">
                                <button mat-button [type]="selectFilesButtonType" color="primary"
                                    class="file-input-button-link" (click)="uploadImageFile.click()"
                                    [hidden]="!showCustomUpload">
                                    <span>Choose Image</span>
                                    <input #uploadImageFile type="file" style="display: none"
                                        onclick="this.value = null" class="text-nowrap text-truncate"
                                        (change)="selectImageFileForCustom($event)" />
                                </button>
                                <span class="file-input-text">{{ fileNameForImage }}</span>
                            </div>
                            <div class="form-group mt-3" [hidden]="fileTypeChosen == 'Upload Video' || 
                        fileTypeChosen == 'Upload Audio' || fileTypeChosen == 'Record Audio' || fileTypeChosen == ''">
                                <div>
                                    <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl"
                                        (click)="startVideoRecording()" style="cursor: pointer;background-color: green;color: white;"
                                        >Start
                                        Video Recording</button>
                                    <button class="stop-button" *ngIf="isVideoRecording && !videoBlobUrl"
                                        (click)="stopVideoRecording()" style="cursor: pointer;background-color: red;color: white;"
                                        >Stop Video
                                        Recording</button>
                                    <button  class="btn btn-light-custom" *ngIf="!isVideoRecording && videoBlobUrl"
                                        (click)="clearVideoRecordedData()">Clear
                                        Video Recording</button>
                                    <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl">
                                        {{ videoRecordedTime }} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12" [hidden]="!(isVideoRecording || videoBlobUrl)">
                            <video #videoElement width="320" height="240" controls>
                                <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary-custom" [disabled]="!enableAddReminder" (click)="upload()">
                        Add Reminder
                    </button>
                </div>
            </form>
        </div>

        <div style="width: 100%; margin-top: 50px;">
            <div class="row d-flex justify-content-between">
                <div class="col-auto d-flex align-items-center">
                    <h4 class="darkBlue">Scheduled Reminders</h4>
                </div>
                <div class="col-auto">
                    <div fxLayout fxLayoutAlign="center center">
                        <mat-form-field fxFlex="40%" style="padding: 0;">
                            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" class="form-control">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
            <div style="width: 100%; background-color: #fff; margin-top: 15px;">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="file">
                        <th mat-header-cell *matHeaderCellDef> File Location </th>
                        <td mat-cell *matCellDef="let element">
                            <a href="{{element.downloadURL}}" target="_blank">View file</a>
                        </td>
                        <!-- {{element.downloadURL}}  -->
                    </ng-container>

                    <ng-container matColumnDef="Scheduled time">
                        <th mat-header-cell *matHeaderCellDef> Schedule </th>
                        <td mat-cell *matCellDef="let element"> {{element.schedule}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn btn-light-custom"  color="warn" (click)="redirectToDelete(element.id)">
                                <!-- <mat-icon class="mat-18">delete</mat-icon> -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="width:20px"><path class="svg-base" fill="#333" d="M29 5h-7.33L20 1h-8l-1.67 4H3v2h3v21a3 3 0 003 3h14a3 3 0 003-3V7h3zM13.33 3h5.34l.83 2h-7zM24 28a1 1 0 01-1 1H9a1 1 0 01-1-1V7h16zm-10-4h-2V12h2zm6 0h-2V12h2z"/></svg>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                    <p style="color: white">Please Wait. </p>
                </ngx-spinner>
            </div>

        </div>
    </div>
</section>